resources/wsdl/DriverPasswordReset/DriverPasswordResetRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="DriverPasswordReset" xmlns:ns1="DriverPasswordReset" targetNamespace="DriverPasswordReset" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="PasswordRQ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Mode" type="xs:string"/>
				<xs:element name="Email" type="xs:string"/>
				<xs:element name="Password" type="xs:string"/>
				<xs:element name="NewPassword" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
