resources/wsdl/DriverPasswordReset/DriverPasswordResetResponse.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Administrator (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="DriverPasswordReset" targetNamespace="DriverPasswordReset">
	<xs:element name="PasswordRS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:string"/>
				<xs:element name="VarianceReason" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>