resources/wsdl/OTP/ValiDateOTPRequest.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="ValiDateOTPRequest">
       <xs:element name="DriverOTP">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="PassportID" type="xs:int"></xs:element>
                            <xs:element name="EmailID" type="xs:string"></xs:element>
                            <xs:element name="OTP" type="xs:string"></xs:element>
                            <xs:element name="Operation" type="xs:string"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>