resources/wsdl/OTP/ValiDateOTPResponse.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="ValiDateOTPResponse">
       <xs:element name="DriverOTP">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="Success" type="xs:string"></xs:element>
                            <xs:element name="VarianceReason"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>