resources/wsdl/Transaction/TransactionResponse.xsd

<?xml version="1.0" encoding="Windows-1256"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:ns1="TransactionRequestResponse" xmlns:ns2="TransactionRequestResponse" targetNamespace="TransactionRequestResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TransactionRS">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Success"/>
        <xs:element name="Agreements">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="H1"/>
              <xs:element type="xs:string" name="H2"/>
              <xs:element name="Agreement" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CheckOutBranch"/>
                    <xs:element type="xs:string" name="CheckInBranch"/>
                    <xs:element type="xs:string" name="CheckOutDate"/>
                    <xs:element type="xs:string" name="CheckInDate"/>
                    <xs:element type="xs:string" name="ReservationNo"/>
                    <xs:element type="xs:string" name="StatusCode"/>
                    <xs:element type="xs:string" name="AgreementNo"/>
                    <xs:element type="xs:string" name="ChrageGroup"/>
                    <xs:element type="xs:string" name="LicenseNo" />
                    <xs:element type="xs:string" name="TOTALAMOUNT" />
                    <xs:element type="xs:string" name="TOTALPAID" />
                    <xs:element type="xs:string" name="TOTALBALANCE" />
                    <xs:element type="xs:string" name="CheckOutBranchContact" />
                    <xs:element type="xs:string" name="CheckInBranchContact" />
                    <xs:element type="xs:string" name="DriverId" />
                    <xs:element type="xs:string" name="DriverName" />
                    <xs:element type="xs:string" name="DriverLicenseNo" />
                    <xs:element type="xs:string" name="DriverLicenseExpiryDate" />
                    <xs:element type="xs:string" name="DriverNationality" />
                    <xs:element type="xs:string" name="DriverMembershipNo" />
                    <xs:element type="xs:string" name="DriverMembershipType" />
                    <xs:element type="xs:string" name="DriverContactNo" />
                    <xs:element type="xs:string" name="DebitorCode" />
                    <xs:element type="xs:string" name="DebitorName" />
                    <xs:element type="xs:string" name="AgreementUser" />
                    <xs:element type="xs:string" name="AgreementDays" />
                    <xs:element type="xs:string" name="AgreementPackage" />
                    <xs:element type="xs:string" name="AgreementPackagePrice" />
                    <xs:element type="xs:string" name="AgreementCheckOutTime" />
                    <xs:element type="xs:string" name="AgreementChargeGroup" />
                    <xs:element type="xs:string" name="AgreementOutKm" />
                    <xs:element type="xs:string" name="AgreementModelName" />
                    <xs:element type="xs:string" name="AgreementTotalRental" />
                    <xs:element type="xs:string" name="AgreementDiscount" />
                    <xs:element type="xs:string" name="AgreementFreeKm" />
                    <xs:element type="xs:string" name="AgreementFreeHr" />
                    <xs:element type="xs:string" name="AgreementExtraKmCharge" />
                    <xs:element type="xs:string" name="AgreementExtraHourCharge" />
                    <xs:element type="xs:string" name="AgreementExtras" />
                    <xs:element type="xs:string" name="AgreementInsurance" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reservations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Reservation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReservationNo"/>
                    <xs:element type="xs:string" name="CheckOutBranch"/>
                    <xs:element type="xs:string" name="CheckInBranch"/>
                    <xs:element type="xs:string" name="CheckOutDateTime"/>
                    <xs:element type="xs:string" name="CheckInDateTime"/>
                    <xs:element type="xs:string" name="Status"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Invoices">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="H1"/>
              <xs:element type="xs:string" name="H2"/>
              <xs:element name="Invoice" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="InvoiceNo"/>
                    <xs:element type="xs:string" name="InvoiceType"/>
                    <xs:element type="xs:string" name="AgreementNo"/>
                    <xs:element type="xs:string" name="InvoiceDate"/>
                    <xs:element type="xs:string" name="InvoiceRental"/>
                    <xs:element type="xs:string" name="InvoiceVat"/>
                    <xs:element type="xs:string" name="InvoiceOther"/>
                    <xs:element type="xs:string" name="InvoiceTotal"/>
                    <xs:element type="xs:string" name="InvoiceTime"/>
                    <xs:element type="xs:string" name="InvoiceBranchName"/>
                    <xs:element type="xs:string" name="InvoiceAgrOutDate"/>
                    <xs:element type="xs:string" name="InvoiceAgrOutTime"/>
                    <xs:element type="xs:string" name="InvoiceAgrInDate"/>
                    <xs:element type="xs:string" name="InvoiceAgrInTime"/>
                    <xs:element type="xs:string" name="InvoiceAgrOutBranch"/>
                    <xs:element type="xs:string" name="InvoiceAgrInBranch"/>
                    <xs:element type="xs:string" name="InvoiceAgrOutKm"/>
                    <xs:element type="xs:string" name="InvoiceAgrInKm"/>
                    <xs:element type="xs:string" name="InvoiceAgrChargeGroup"/>
                    <xs:element type="xs:string" name="InvoiceAgrCarModel"/>
                    <xs:element type="xs:string" name="InvoiceAgrVehicleNo"/>
                    <xs:element type="xs:string" name="DriverBillingName"/>
                    <xs:element type="xs:string" name="DriverDOB"/>
                    <xs:element type="xs:string" name="DriverMembershipNo"/>
                    <xs:element type="xs:string" name="DriverPassportNo"/>
                    <xs:element type="xs:string" name="DriverNationality"/>
                    <xs:element type="xs:string" name="DriverLicenseNo"/>
                    <xs:element type="xs:string" name="DriverLicenseExpiryDate"/>
                    <xs:element type="xs:string" name="DriverAddress"/>
                    <xs:element type="xs:string" name="DriverCity"/>
                    <xs:element type="xs:string" name="DriverContactNo"/>
                    <xs:element type="xs:string" name="AgreementTariff"/>
                    <xs:element type="xs:string" name="AgreementRateNo"/>
                    <xs:element type="xs:string" name="AgreementCurrency"/>
                    <xs:element type="xs:string" name="SoldDays"/>
                    <xs:element type="xs:string" name="AgreementFreeKm"/>
                    <xs:element type="xs:string" name="AgreementChargableKm"/>
                    <xs:element type="xs:string" name="AgreementDiscountPercent"/>
                    <xs:element type="xs:string" name="InvoiceDiscountAmount"/>
                    <xs:element type="xs:string" name="InvoiceOtherAmount"/>
                    <xs:element type="xs:string" name="InvoiceDropOff"/>
                    <xs:element type="xs:string" name="InvoiceAmountPaid"/>
                    <xs:element type="xs:string" name="InvoiceBalance"/>
                    <xs:element type="xs:string" name="InvoiceReservation"/>
                    <xs:element name="InvoiceExtras" maxOccurs="1" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ExtraName" />
                          <xs:element type="xs:string" name="Days" />
                          <xs:element type="xs:string" name="Units" />
                          <xs:element type="xs:string" name="Amount" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payments">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="H1"/>
              <xs:element type="xs:string" name="H2"/>
              <xs:element name="Payment" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ReceiptNo"/>
                    <xs:element type="xs:string" name="PaymentMethod"/>
                    <xs:element type="xs:string" name="InvoiceNo"/>
                    <xs:element type="xs:string" name="ReceiptDate"/>
                    <xs:element type="xs:string" name="ReceiptAmount"/>
                    <xs:element type="xs:string" name="AgreementNo"/>
                    <xs:element type="xs:string" name="BranchCode"/>
                    <xs:element type="xs:string" name="BranchName"/>
                    <xs:element type="xs:string" name="CustomerName"/>
                    <xs:element type="xs:string" name="CustomerAddress"/>
                    <xs:element type="xs:string" name="PaymentMode"/>
                    <xs:element type="xs:string" name="PaymentUser"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>